<div class="d-flex justify-content-end">
  <% if cookies[:token].present? %>
    <%= link_to "Sign out",  root_path , method: :delete, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-primary" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary" %>
  <% end %>
</div>
