<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Comment by <%= comment.commenter %></h5>
      <p class="card-text"><%= comment.body %></p>
      <%= link_to "Destroy Comment", [:admin, comment.article, comment], 
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?",
            remote: true,
            method: :delete,
            disable_with: 'Deleting...'
          },
          class: "btn btn-danger btn-sm"
      %>
    </div>
  </div>